<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.web.mapper.FoodMapper">
  <resultMap type="com.sist.web.vo.FoodVO" id="foodMap">
    <result property="fno" column="fno"/>
    <result property="poster" column="poster"/>
    <result property="name" column="name"/>
  </resultMap>
  <!-- 
      private int fno,hit,jjimcount,likecount,replycount;
	  private String name,type,phone,address,theme,price,time,
	  		  parking,poster,images,content;
	  private double score;
   -->
   <resultMap type="com.sist.web.vo.FoodVO" id="detailMap">
     <result property="fno" column="fno"/>
     <result property="poster" column="poster"/>
     <result property="name" column="name"/>
     <result property="hit" column="hit"/>
     <result property="jjimcount" column="jjimcount"/>
     <result property="type" column="type"/>
     <result property="phone" column="phone"/>
     <result property="address" column="address"/>
     <result property="theme" column="theme"/>
     <result property="price" column="price"/>
     <result property="time" column="time"/>
     <result property="parking" column="parking"/>
     <result property="images" column="images"/>
     <result property="content" column="content"/>
     <result property="score" column="score"/>
   </resultMap>
</mapper>